/* style.css */

/* Estilos gerais para a barra de cabeçalho */
.top-header {
    background-color: #F1E3B7; /* Cor de fundo amarela */
    color: #333; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Estilo para o container do logo e nome */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px; /* Tamanho do logo */
    margin-right: 10px; /* Espaço entre o logo e o texto */
}

/* Estilo para o texto */
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    color: #777; /* Cor mais clara para o texto secundário */
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

.form-container {
  margin: 20px;
}

select {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

#resultado {
  font-size: 20px;
  font-weight: bold;
}

#pena-total {
  color: green;
}
